/* for background */
* {
    box-sizing: border-box;
}

/* fill background with image */
html, body {
    /*  from https://wallpaperplay.com/board/filmmaking-wallpapers  */
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* text color where not otherwise specified */
    color: black;
    /* background color, where not otherwise specified */
    background: transparent;
    /* for sticky footer */
    display: flex;
    /* for sticky footer */
    min-height: 100vh;
    /* for sticky footer */
    flex-direction: column;
    /* no white space on the sides */
    width: 100%;
    /* no white space on the sides */
    padding: 0;
    /* no white space on the sides */
    margin: 0;
}

/* no white space on the sides */
main {
    /* for sticky footer */
    flex: 1 0 auto;
}

/* make header and footer extend full width of the screen */
.container {
    margin: 0;
    width: 100%;
    background: transparent;
}

/* movie information has a margin */
.card-container {
    margin: auto;
}

/* background for header */
.nav-wrapper {
    /* https://www.pinterest.com/pin/700732023246598786/?lp=true */
    background-image: url("curtain.png");
}

/* background color for titles */
.collapsible-header {
    background: transparent;
}

/* background color for input field (to differentiate it from space around it) */
.movie-input {
    background-color: rgb(250, 236, 209) !important;
}

/* all images take up full width */
/*   If this isn't here, text to the right of the poster gets pushed too far to the right */
img {
    width: 100%;
}

/* leave a little space between year, director, etc. line items to the right of the poster */
.movie-det-li {
    margin-bottom: 10px;
}

/* interesting sticky footer */
footer {
    /* https://www.sccpre.cat/show/TRihbJ_audience-clipart-theatre-audience-transparent-theatre-audience-clipart/ */
    background-image: url("crowd.png");
    height: 100px;
}