/* for background */
* {
    box-sizing: border-box;
}

/* fill background with image */
html, body {
    /*  from https://wallpaperplay.com/board/filmmaking-wallpapers  */
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* text color where not otherwise specified */
    color: black;
    /* background color, where not otherwise specified */
    background: transparent;
    /* for sticky footer */
    display: flex;
    /* for sticky footer */
    min-height: 100vh;
    /* for sticky footer */
    flex-direction: column;
    /* no white space on the sides */
    width: 100%;
    /* no white space on the sides */
    padding: 0;
    /* no white space on the sides */
    margin: 0;
}

/* no white space on the sides */
main {
    /* for sticky footer */
    flex: 1 0 auto;
}

/* make header and footer extend full width of the screen */
.container {
    margin: 0;
    width: 100%;
    background: transparent;
}

/* movie information has a margin */
.card-container {
    margin: auto;
}

/* background for header; have it stretch to fill width */
.nav-wrapper {
    /* https://www.vectorstock.com/royalty-free-vector/silhouette-curtain-vector-1958265 */
    background-image: url("curtain.png");
    height: 100px;
    background-repeat: no-repeat;
    background-size: auto;
}

/* make header text legible */
.brand-logo {
    color: red !important;
    font-weight: bold;
    font-size: 50px !important;
    /* the next few lines puts an outline on the text */
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Doesn't display the character count for the input field that we think Materialize is generating */
.character-counter {
    display: none;
}

/* center TMDB logo vertically */
.tmdbLogo {
    margin-top: 15px;
}

/* background color for titles */
.collapsible-header {
    background: transparent;
}

/* background color for input field (to differentiate it from space around it) */
.movie-input {
    background-color: rgb(250, 236, 209) !important;
}

/* all images take up full width */
/*   If this isn't here, text to the right of the poster gets pushed too far to the right */
.imgPoster, .posterEl, #defaultPoster {
    width: 100%;
}

/* Similar movie posters to be in a line and fit the area they are given */
.similarPoster {
    display: inline-block;
    width: 20%;
}

/* leave a little space between year, director, etc. line items to the right of the poster */
.movie-det-li {
    margin-bottom: 10px;
}

/* interesting sticky footer */
footer {
    /* https://www.sccpre.cat/show/TRihbJ_audience-clipart-theatre-audience-transparent-theatre-audience-clipart/ */
    background-image: url("crowd.png");
    height: 100px;
}